@using Shop.Models
@model IEnumerable<CartItem>


@{
    ViewBag.Title = "ShowToCart";

}

<h2>ShowToCart</h2>
@if (Model == null || Model.Count()<= 0)
{
                <h2>Cart is Empty</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                double total = item.price.Value * item._shopping_quantity;
                <tr>
                    <td>
                       @item.name_pro
                    </td>
                    <td>
                        <img src="@Url.Content(item.images)" style="width:100px ; height: 100px " />
                    </td>
                    <td>
                      @item.price
                    </td>
                    <td>
                        @using (Html.BeginForm("Update_Quantity_Cart", "Cart"))
                        {
                            <input type="hidden" value="@item.id_pro" name="id_pro" />
                            <input type="number" value="@item._shopping_quantity" name="quantity" />
                            <input type="submit" value="Update Quantity" />
                        }
                    </td>
                    <td>
                        Total: @total
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
