@model ProjectCSharps.Models.product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<h3>Are you sure you want to delete this?</h3>
<div>
   
    <dl class="dl-horizontal">
        <h4> Delete product</h4>
        <hr />
        <dt>
            Name Product
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_pro)
        </dd>

        

        <dt>
           Quantity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            Supplier
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplier)
        </dd>

       

        

        <dt>
            CateName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.name_cat)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete","Product",FormMethod.Post, new { enctype="multipart/form-data"} )) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
