@model Shop.Models.product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_pro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.images)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.infor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.infor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sell_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sell_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category.name_cat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.name_cat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
