@model IEnumerable<Shop.Models.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("searchString", ViewBag.CurrentFilter as string);
        <input type="submit" value="Search" />
    </p>
}*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name_pro)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supplier)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.infor)
            </th>*@

        @*<th>
                @Html.DisplayNameFor(model => model.category.name_cat)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name_pro)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.images)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplier)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.infor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sell_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category.name_cat)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_pro }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_pro }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_pro })
            </td>
        </tr>
    }

</table>
