
@using PagedList;
@using PagedList.Mvc;
@using Shop.Models;
@model PagedList.IPagedList<Shop.Models.product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
    </div>
@*@using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <p>
            Search: @Html.TextBox("searchString", ViewBag.CurrentFilter as string);
            <input type="submit" value="Search" />
        </p>
    }*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().name_pro)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().supplier)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.infor)
            </th>*@

        @*<th>
                @Html.DisplayNameFor(model => model.category.name_cat)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name_pro)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplier)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.infor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sell_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category.name_cat)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_pro }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_pro }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_pro })
            </td>
        </tr>
    }

</table>
<div>
 Page @(Model.PageCount < Model.PageCount ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", "Products",
new { page }))
<style>
    .pagination {
        width: 400px;
        margin-left: 50px;
    }

        .pagination a {
            display: block;
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
</div>