@model IEnumerable<Shop.Models.category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name_cat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.describe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name_cat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.describe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_cat }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_cat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_cat })
        </td>
    </tr>
}

</table>
